# Coursera - Capstone project : Week 3

Scraping the webpage to create dataframe for 'Postal code'

## Importing the required files

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import numpy as np
import requests
from bs4 import BeautifulSoup

import json

from geopy.geocoders import Nominatim
from pandas.io.json import json_normalize
import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

import folium

print('Importing completed!')

Importing completed!

## Creating DataFrame using pandas

In [2]:
columns = ['PostalCode','Borough','Neighbourhood'] # Column names used

dataframe = pd.DataFrame(columns=columns)
dataframe # Empty dataframe

Empty DataFrame
Columns: [PostalCode, Borough, Neighbourhood]
Index: []

## Scarping the website and using Beautifulsoup to visualize it (in HTML)

In [3]:
response = requests.get(url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(response.content, 'html.parser')

table = soup.find('table', class_='wikitable sortable')
#table

In [9]:
for i,row in enumerate(table.findAll('tr')):
    cells=row.findAll('td')
    if len(cells)==3 and cells[1].find(text=True)[:-1] != 'Not assigned':
        if cells[2].find(text=True)[:-1] == 'Not assigned':
            cells[2].find(text=True)[:-1] = cells[1].find(text=True)[:-1]        
        dataframe.loc[i] = [cells[0].find(text=True)[:-1],cells[1].find(text=True)[:-1],cells[2].find(text=True)[:-1]]
        
dataframe.head()

  PostalCode           Borough                                Neighbourhood
3        M3A        North York                                    Parkwoods
4        M4A        North York                             Victoria Village
5        M5A  Downtown Toronto                    Regent Park, Harbourfront
6        M6A        North York             Lawrence Manor, Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

## PostalCode downloaded (on github)

In [13]:
PostalCode = pd.read_csv('code.csv')
PostalCode.columns = ['PostalCode','Latitude','Longitude']
PostalCode.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

## Inner join of the two DataFrames

In [14]:
df = pd.merge(dataframe,PostalCode)
df.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [9]:
dataframe.shape

(103, 3)